.track-info {
    display: flex;
    gap: var(--main-padding);
    align-items: center;
    width: 100%;
    font-size: 0.875rem;
}

.cover {
    --cover-size: 50px;

    min-width: var(--cover-size);
    max-width: var(--cover-size);
    min-height: var(--cover-size);
    max-height: var(--cover-size);
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 4px;
    cursor: pointer;
    filter: opacity(1);
    transition: filter 200ms ease-in-out;

    &:active {
        filter: opacity(0.1);
    }

    @include hover {
        filter: opacity(0.5);
    }
}

.add-info {
    color: hsl(var(--nextui-foreground-400));
}

.info {
    width: 100%;
    text-align: start;

    &.mobile {
        h1,
        p {
            @include cut-for-n-rows(1);
        }
    }

    &.full {
        h1 {
            margin-block-start: var(--medium-padding);
        }
    }
}
