@import './variables';
@import './mixins';

:root {
    /* z-indexes */
    --header-z-index: 10;
    --player-z-index: 51;

    /* -- */

    --main-padding: 16px;
    --medium-padding: 8px;
    --small-padding: 4px;
    /* stylelint-disable-next-line length-zero-no-unit */
    --player-height: 0px;
    --header-height: 97px;

    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;

    @include tablet {
        font-size: small;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100vw;
    height: 100dvh;
    min-height: 100svh;
    max-height: 100vh;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}
