.form {
    h1 {
        font-weight: bold;
        font-size: larger;
    }
}

.input-container {
    margin-block-start: var(--main-padding);
    display: flex;
    flex-direction: column;
    row-gap: var(--main-padding);
}

.link {
    margin-block-start: var(--main-padding);
}
