.image {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.bottom-block {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 4px;
    justify-content: flex-end;
    width: 100%;
    padding: var(--medium-padding);
    filter: opacity(0);
    transition: filter 200ms ease-in-out;
}

.album {
    position: relative;
    width: 10%;
    height: fit-content;
    transform: translate3d(0, 0, 0);
    aspect-ratio: 1;

    @include tablet {
        width: 25%;
    }

    @include mobile {
        width: 50%;
    }

    &:hover {
        z-index: 2;
        overflow: hidden;
        border-radius: 12px;
        box-shadow: rgb(0 0 0 / 91.1%) 0 28px 80px 10px;
        transition: all 200 ease-in-out;

        .image {
            height: auto;
        }

        .bottom-block {
            filter: opacity(1);
        }
    }
}

.button {
    background-color: hsl(var(--nextui-background) / 50%);
    transition: all 200ms ease-in-out;

    &:hover {
        background-color: hsl(var(--nextui-background));
        box-shadow: 1px 1px 0 0 rgb(32 32 32);
    }

    &:active {
        box-shadow: none;
    }
}

.carousel-button {
    top: 0;
    left: 0;
}

.link {
    width: 40px;
    height: 40px;
    margin-inline-end: auto;
}
