.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 90;
    display: flex;
    flex-basis: 60px;
    justify-content: center;
    align-items: center;
    padding: var(--main-padding);
    text-align: center;
    background-color: hsl(0deg 0% 0% / 42.5%);
    border-bottom: 1px solid hsl(var(--nextui-foreground-200));
    box-shadow:
        rgb(50 50 93 / 25%) 0 6px 12px -2px,
        rgb(0 0 0 / 30%) 0 3px 7px -3px;
    backdrop-filter: blur(10px);
}

button.back-button {
    z-index: 2;
    margin-inline-end: auto;
}

.avatar {
    z-index: 2;

    --avatar-size: 40px;

    min-width: var(var(--avatar-size));
    min-height: var(--avatar-size);
    cursor: pointer;
    margin-inline-start: auto;

    @include tablet {
        --avatar-size: 32px;
    }
}

.title {
    position: absolute;
    z-index: 1;
    font-size: 2rem;
    padding-inline: 48px;

    @include tablet {
        font-size: 1.5rem;
    }
}
