.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 90;
    display: flex;
    flex-basis: 60px;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    text-align: center;
    background-color: hsl(0deg 0% 0% / 42.5%);
    border-bottom: 1px solid hsl(var(--nextui-foreground-200));
    box-shadow:
        rgb(50 50 93 / 25%) 0 6px 12px -2px,
        rgb(0 0 0 / 30%) 0 3px 7px -3px;
    backdrop-filter: blur(10px);
    padding-inline: var(--main-padding);

    h1 {
        margin-inline: auto;
    }

    @include mobile {
        font-size: 2rem;
    }
}

.back-button {
    margin-inline-end: auto;
}

.avatar {
    cursor: pointer;
}
