.modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    contain: content;

    @include max-height;

    button[aria-label='Close'] {
        z-index: 10;
    }
}

.body {
    padding: 0;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 51;
}
