.modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100dvh;
    min-height: 100svh;
    max-height: 100vh;

    button[aria-label='Close'] {
        z-index: 10;
    }
}

.body {
    padding: 0;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 51;
}
