.loud-slider {
    width: 200px;
    filter: opacity(0.5);
    transition: filter 200ms ease-in-out;

    &.compact {
        width: 100%;
    }

    @include hover {
        filter: opacity(1);
    }
}

.on,
.off {
    transform: scale(1);
    filter: opacity(1);
    transition:
        transform 200ms ease-in-out,
        filter 200ms ease-in-out;

    &.hidden {
        position: absolute;
        transform: scale(0.3);
        filter: opacity(0);
    }
}
