.aside {
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: var(--header-z-index);
    display: flex;
    flex-direction: column;
    gap: var(--medium-padding);
    width: calc(100%);
    padding: var(--small-padding);
    background-color: hsl(var(--nextui-background) / 40%);
    border-radius: 8px 8px 0 0;
    box-shadow: rgb(0 0 0 / 56%) 0 22px 70px 4px;
    backdrop-filter: blur(16px);
    padding-inline: var(--medium-padding);
    border-block-start: 1px solid hsl(var(--nextui-foreground-200));
    transition: padding 50ms ease;

    @include hover {
        padding-block-start: var(--main-padding);
    }

    &.compact {
        bottom: 100px;
        left: var(--main-padding);
        max-width: 360px;
        background-color: hsl(var(--nextui-background) / 60%);
        transform: translateX(0);
    }

    &.mobile {
        position: sticky;
        bottom: 0;
        left: 0;
        padding: 0;
        border-radius: 0;
        transform: translateX(0);
        padding-block-start: 0;
    }
}

.bottom {
    display: flex;
    gap: var(--main-padding);
    align-items: center;
    padding-inline-end: var(--main-padding);

    &.compact {
        flex-direction: column;
    }

    &.mobile {
        padding: 0;

        .control-buttons {
            order: 2;
            margin-inline-start: auto;
        }
    }
}
