.aside {
    &.compact,
    &.mobile {
        /* //? На мобилке не работает просто position: fixed. Вот решение: */
        position: fixed !important;
        overflow: hidden !important;

        /* Конец решения */

        /* stylelint-disable-next-line order/properties-order */
        bottom: 0;
        left: 0;
        z-index: var(--player-z-index);
        display: flex;
        flex-direction: column;
        gap: var(--medium-padding);
        width: 100%;
        padding: var(--small-padding);
        background-color: hsl(var(--nextui-background) / 40%);
        border-radius: 8px 8px 0 0;
        box-shadow: rgb(0 0 0 / 56%) 0 22px 70px 4px;
        backdrop-filter: blur(16px);
        transition: padding 50ms ease;
        padding-inline: var(--medium-padding);
        border-block-start: 1px solid hsl(var(--nextui-foreground-200));
    }

    &.compact {
        bottom: 100px;
        left: var(--main-padding);
        max-width: 360px;
        background-color: hsl(var(--nextui-background) / 60%);
        border-radius: 8px;
        transform: translateX(0);
    }

    &.mobile {
        padding: 0;
        border-radius: 0;
    }

    &.full {
        width: 100%;
    }
}

.end {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin-inline-start: auto;
}

.bottom {
    display: flex;
    gap: var(--main-padding);
    align-items: center;
    padding-inline-end: var(--main-padding);

    &.compact {
        flex-direction: column;

        .end {
            max-width: 100%;
        }
    }

    &.mobile {
        padding: 0;

        .control-buttons {
            order: 2;
            margin-inline-start: auto;
        }
    }
}

.button {
    margin-inline-start: auto;
}
