.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image {
    &.with-reflect {
        -webkit-box-reflect: below var(--reflect-margin)
            linear-gradient(transparent, rgb(0 0 0 / 85%), rgb(0 0 0 / 90%));
    }

    filter: opacity(1);

    &.hidden {
        position: absolute;
        width: 0;
        height: 0;
        filter: opacity(0);
        contain: content;
    }
}

.reflect {
    position: absolute;
    top: calc(100% + var(--reflect-margin));
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-size: contain;
    transform: scaleY(-1);
    mask-image: linear-gradient(
        transparent,
        rgb(0 0 0 / 85%),
        rgb(0 0 0 / 90%)
    );

    &.hidden {
        position: absolute;
        display: none;
    }
}

.skeleton-image {
    filter: opacity(1) blur(10px);
    transition: filter 200ms ease-in-out;

    &.hidden {
        position: absolute;
        width: 0;
        height: 0;
        filter: opacity(0);
        contain: content;
    }
}

.skeleton {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    height: 100%;
    contain: content;
    background-color: transparent !important;

    &::after {
        background-color: transparent !important;
    }

    &.hidden {
        position: absolute;
        width: 0;
        height: 0;
        filter: opacity(0);
        contain: content;
    }
}

.background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vmin;
    max-width: 100%;
    height: 100vmin;
    max-height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: hsl(var(--nextui-foreground-400));
    transform: translateX(-50%) translateY(-50%);
    filter: opacity(0.5);
    aspect-ratio: 1;

    &.with-image {
        filter: opacity(1);
    }
}

.bg-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    filter: blur(10px);
}
