.modal {
    button {
        z-index: 3;
    }
}

.body {
    padding: 0;
}

.content {
    height: 100%;

    :global {
        .swiper-slide {
            display: flex;
            justify-content: center;
            height: 100vh;
            background-position: center;
            background-size: cover;
        }

        .swiper-slide img {
            display: block;
            height: 100%;
        }
    }
}

.left-info {
    position: absolute;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 24%;
    height: 100%;
    padding: 24px;
    font-size: 50px;
    line-height: 50px;
    text-align: left;
    background: linear-gradient(to left, transparent, #000000 #000000);
    filter: opacity(1);
    transition: filter 200ms ease-in-out;

    span:first-child {
        color: #787f85;
        font-size: 40px;
        line-height: 40px;
    }

    &.hidden {
        filter: opacity(0);
    }
}

.right-info {
    position: absolute;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    max-width: 24%;

    // line-height: 36px;
    height: 100%;
    padding: 24px;
    padding-top: 48px;
    font-weight: 100;
    font-size: 24px;
    text-align: right;
    background: linear-gradient(to right, transparent, #000000, #000000);
    filter: opacity(1);
    transition: filter 200ms ease-in-out;

    span:first-child {
        // font-size: 40px;
        // line-height: 44px;
        font-weight: 600;
        margin-block-end: 8px;
    }

    &.hidden {
        filter: opacity(0);
    }
}

.link {
    margin-block-start: 8px;
}
